<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.tripPlanner.dao.HistoryDao">

    <!-- insert -->
    <insert id="insert" parameterType="com.example.tripPlanner.entity.History" >
        INSERT INTO
        HISTORY(PLACEID, PLACETITLE, MEMBERID, MEMBERNICKNAME)
        VALUES(#{placeId}, #{placeTitle}, #{memberId}, #{memberNickname})
    </insert>
    
    <!-- getList -->
    <select id="getList" resultType="com.example.tripPlanner.entity.History" >
        SELECT * FROM HISTORY
        WHERE MEMBERID = #{memberId}
    </select>

	<!-- getList -->
    <select id="getListByMemberIdAndPlaceId" resultType="com.example.tripPlanner.entity.History" >
        SELECT * FROM HISTORY
        WHERE MEMBERID = #{memberId} AND PLACEID = #{placeId}
    </select>

</mapper>